
body {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}


.transacciones-container {
  width: 700px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 80px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}


.transacciones-title {
  font-size: 28px;
  color: #0a2342;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}


.transacciones-select,
.transacciones-input {
  width: 80%;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 20px;

}

.transacciones-select:focus,
.transacciones-input:focus {
  border: 2px solid #ffcc00;
  background-color: #fffef4;
}


.transacciones-boton {
  width: 80%;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #ffcc00;
  color: #000;
  margin-top: 5px;
}

.transacciones-boton:hover {
  background-color: #e6b800;
  transform: translateY(-2px);
}


.transacciones-lista {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  width: 80%;
  background-color: #f9fafc;
  border-radius: 15px;
  border: 1.5px solid #ddd;
  padding: 15px 20px;
}

.transacciones-lista li {
  font-size: 17px;
  color: #333;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.transacciones-lista li:last-child {
  border-bottom: none;
}


.transacciones-footer {
  margin-top: 25px;
  font-size: 14px;
  color: #555;
  text-align: center;
}



  .transacciones-container {
    width: 90%;
    padding: 20px;
  }

  .transacciones-select,
  .transacciones-input,
  .transacciones-btn,
  .transacciones-lista {
    width: 90%;
  }

